.navbar{
    width: 35cm;
    height: 3cm;
    background-color: bisque;
    margin-top: 0.5cm;
    border-radius: 5cm;
    margin-left: 7%;
    
    
}
.icerik>h4{
    display: inline;
    font-weight: 750;
    margin-left: 0.5cm;
}