*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#navbar{
    background-color: #f8ffd6;
    
   
}
.navbar-brand{
    margin-left: 6%;
}
.navbar-nav{
    margin-left: 7%;
    font-weight: 900;
    color: black;
}
.nav-link{
    color: black;
}

.footerMain{
    width: 100%;
    bottom: 0px;
    position:static;
    background-color: #282a35;
    margin-bottom: -2%;
    
}
.footerLink{
    color: white;
    margin-left: 15%;
    display: inline-block;
    margin-top: 2%;
}
.footerLink ul{
    list-style-type: none;
}
.footerContact{
    color: white;
    margin-left: 15%;
    display: inline-block;
    
    
    
}
.footerCopy{
    color: white;
    text-align: center;
    font-weight: 500;
    font-family: serif;
    
}

hr{
    border-top: rgb(75, 74, 74) solid;
    width: 85%;
    margin-left: 8%;
}
.footerContact i span{
    font-family: serif;
}

.brands_title{
    text-align: center;
    margin-top: 1%;
}
.brands_title h1{
    font-weight:bolder;
    font-size:60px;

}
.brandsImg img{
    border-radius: 20%;
    border: solid;
    border-color: black;
    margin-left: 15%;
    margin-bottom: 2%;
    margin-top: 5%;
    
}
.re_mainImg img{
    width: 100%;
    height: 10%;

}
.re_mainTitle h1{
    text-align: center;
    font-size: 60px;
    margin-top: 2%;

}
.re_Img img{
    border: solid black;
    width: 200px;
    height: 175px;
    border-radius: 20%;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.storyImg img{
    width: 100%;
}
.storyTitle h1{
    text-align: center;
    font-size: 60px;
    margin-top: 3%;
}
.storyText p{
    margin-left: 25%;
    margin-right: 25%;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 3%;
    margin-bottom: 5%;
}
.faq_title h1{
    text-align: center;
    font-size: 60px;
    margin-top: 3%;

    
}
.faqs{
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 3%;
}