*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#navbar{
    background-color: #f8ffd6;
    
   
}
.navbar-brand{
    margin-left: 6%;
}
.navbar-nav{
    margin-left: 7%;
    font-weight: 900;
    color: black;
}
.nav-link{
    color: black;
}
footer{
    background-color: #282a35;
}
.footerMain{
    width: 100%;
    bottom: 0px;
    position: absolute;
    
    background-color: black;
   
    
}