*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#navbar{
    background-color: #f8ffd6;
    
   
}
.navbar-brand{
    margin-left: 6%;
}
.navbar-nav{
    margin-left: 7%;
    font-weight: 900;
    color: black;
}
.nav-link{
    color: black;
}

.footerMain{
    width: 100%;
    bottom: 0px;
    position: absolute;
    background-color: #282a35;
}
.footerLink{
    color: white;
    margin-left: 15%;
    display: inline-block;
}
.footerLink ul{
    list-style-type: none;
}
.footerContact{
    color: white;
    margin-left: 10%;
    display: inline-block;
    
}
.footerCopy{
    color: white;
    text-align: center;
    font-weight: 500;
}

hr{
    border-top: black solid;
    width: 85%;
    margin-left: 8%;
}